@{
    ViewBag.Title = "Home";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-screen-home">
    <div class="container-fluid">
        <div id="icon-row" class="row">
            <div class="col-xs-12 text-center">
                <img id="home-icon" src="@Url.Content("~/Content/img/laundry-logo.png")" />
            </div>
        </div>
        <div id="view-orders-row" class="row">
            <div class="col-xs-12 text-center">
                <a href="@Url.Action("Index", "Orders")"><p class="btn" id="view-orders-button">VIEW ORDERS</p></a>
            </div>
        </div>
    </div>
</div>
